html,body{
  width: 100%;
  height: 100%;
  font-family: Sansita Swashed;
  color: black;
  overflow-x: hidden;
}
.calendar{
  display: none;
  justify-content: center;
  align-items: center;
}
.show{
  display: block;
}
.hidden{
  display: none;
}
/* .react-calendar{
  display: flex;
  justify-content: center;
  align-items: center;
} */
.dropdownButton{
  height: 6vh;
  width: 6vh;
position: relative;
left: 80vw;
}
form select ,div.react-calendar,submit.submit,button{
  margin: .9em;
  display: flex;
  flex-direction: column;
}
#lv{
  margin-left: 1.5em;
}
.subject-av{
  margin:0;
  margin-left: .6em;
  margin-right: .6em;
}
form div select option{
  border-radius: 1.6em;
  font-family: Sansita Swashed;
  background-color:  #0093E9;
}
div button {
  border: none;
  border-radius: .2em;
  background-color:  #0093E9;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  cursor: pointer;
  position: relative;
  transition: background 0.25s;
}
div button:active {
  background-color:  #0093E9;
}
div button:hover {
  background-color:  white;
}