@import './function';
.Card{
    @include cardComponent();
    box-sizing: border-box;
    font-size: larger;   
}
.rowElement{
    border: $borderValue;
    padding: $paddingValue;
}
.backGround{
    height:100%;
    width:100vw;
    background:linear-gradient(120deg, #0093E9 0%, #80D0C7 80%);
    color: white;
    display:flex;
    justify-content:center;
    align-items:center;
}
.tab{
    position:"relative";
    width:90%; 
    height:wrap-content;
    background:white ;
    box-shadow:0 0 2em rgba(0, 0, 0, .7);
    border-radius:2em;
    display:"top";
    margin:2vh;
    padding: 1.3em;
}
